*{
    background-color: lightcyan;
}
.cl1{
    background-color: lightcoral;
}
#div1{
    background-color: lightgreen;
}
div{
    background-color: red;
}
#div{
    background-color: blueviolet;
}
#div1{
    background-color: yellow
}
.cl1{
    background-color: tomato;
}